
  
  .skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
  }
.problemSolving
{width: 80%; background-color: black;}
.qualityCode
{width: 60%; background-color: black;}
.streamExpertise
{width: 56%; background-color: black;}
.socialSkill
{width: 95%; background-color: black;}